rasterio
matplotlib
pandas
geopandas==0.9.0
shapely==1.8.5
folium
descartes==1.1.0
earthpy
scikit-learn
tensorflow
tdqm
seaborn
netCDF4
dask
xarray
holoviews
geoviews
hvplot
datashader
jupyter_bokeh
bruges
matplotlib
https://github.com/enthought/mayavi/zipball/master
scikit-image
segyio
opencv-python
scipy
lasio
numpy
gdal